# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_BENNY_LEFT
	def_bool $(shields_list_contains,BENNY_left)

config SHIELD_BENNY_RIGHT
	def_bool $(shields_list_contains,BENNY_right)