# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_NOSTRUM_LEFT
	def_bool $(shields_list_contains,nostrum_left)

config SHIELD_NOSTRUM_RIGHT
	def_bool $(shields_list_contains,nostrum_right)