# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_BENNY_LEFT
	def_bool $(shields_list_contains,benny_left)

config SHIELD_BENNY_RIGHT
	def_bool $(shields_list_contains,benny_right)