# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_NOSTRUMX_LEFT
	def_bool $(shields_list_contains,nostrumx_left)

config SHIELD_NOSTRUMX_RIGHT
	def_bool $(shields_list_contains,nostrumx_right)